:root {
  --font-hero: "Playfair Display", serif;
  --font-body: "DM Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-hero);
}

h2 {
  white-space: pre-line;
}

body,
nav,
button,
p {
  font-family: var(--font-body);
  font-weight: 100;
}

.section--cream {
  background-color: #fffaee;
}

h4 {
  font-size: 29px;
  font-weight: 500;
  padding-bottom: 10px;
}

button {
  background: #2c2c2c;
  color: #e2e2e2; /* inherit text color */
  font-weight: 500;
  border: none;
  display: inline-block; /* shrink to fit text */
  font: inherit; /* inherit font styles from parent */
  cursor: pointer; /* TODO: Add confetti on click? */
  margin: 0 auto; /* center inside block container */
  padding: 15px 19px; /* space around text */
  margin-top: 16px;
}

.vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards {
  justify-content: space-around;
  padding: 25px 100px;
  font-size: 18px;
}

.card {
  text-align: center;
  width: 270px;
  word-spacing: -1.3px;
}

.header {
  height: 145px;
  padding: 0px 43px; /* top+bottom = 0px, left+right = 43px */
}

.header-heading {
  text-transform: uppercase;
}

.header-nav {
  display: inline-flex;
  list-style: none;
  font-weight: 500;
}

.header-nav li {
  padding: 0px 40px;
  font-size: 13px;
  text-transform: uppercase;
}

.header-actions {
  display: inline-flex;
  list-style: none;
}

.header-actions li {
  width: 48px;
  font-size: 25px;
}

.header-button {
  background-color: white;
  color: #2c2c2c;
}

.hero {
  padding-bottom: 68px;
}

.hero-nav,
.hero-socials {
  transform: rotate(-90deg);
  display: flex;
  gap: 1rem; /* space between items */
  padding: 120px 0px;
  margin: 0px -100px;
}

.hero-nav li,
.hero-socials li {
  list-style: none;
  text-transform: lowercase;
}

.top-cta-heading {
  text-transform: lowercase;
  font-size: 120px;
  line-height: 0.9; /* unitless, relative to font-size */
  padding-bottom: 50px;
}

.top-cta {
  padding: 0px 42px;
  word-spacing: -0.1em;
}

.top-cta-text {
  padding-top: 38px;
  font-size: 14px;
}

.features {
  padding: 55px;
  justify-content: space-evenly;
}

.features-heading {
  font-weight: 500;
  font-size: 25px;
  padding-right: 180px;
}

.features-card-title-ratings {
  font-size: 50px;
  letter-spacing: -8px;
}

.features-card-title-sales {
  font-size: 50px;
  letter-spacing: 5px;
}

.features-card-content {
  white-space: pre-line;
}

.benefits-heading {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 20px;
  font-size: 40px;
}

.benefit-card-icon {
  font-size: 80px;
}

.best-selling-heading {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 20px;
  font-size: 40px;
}

.best-selling-card-icon {
  width: 230px;
  height: auto;
}

.best-selling-cards {
  justify-content: space-around;
  padding: 25px 100px;
  font-size: 18px;
}

.about-us {
  padding-top: 95px;
  padding-left: 0px;
  width: 1396px;
}

.about-us-heading {
  word-spacing: -1.3px;
  font-size: 55px;
  padding-right: 70px;
}

.about-us img {
  padding: 60px;
  padding-left: 90px;
  width: 650px;
  height: auto;
}

.testimonials {
  padding: 80px 80px;
}

.testimonials-heading {
  font-size: 40px;
}

.testimonials-nav {
  list-style: none;
  padding-top: 120px;
}

.testimonials-nav li svg {
  width: 50px;
  height: 50px;
}

.testimonials-cards > .card {
  width: 380px;
  height: 330px;
  padding: 20px;
  background-color: white;
  text-align: left;
}
