:root {
  --font-hero: "Playfair Display", serif;
  --font-body: "DM Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--font-hero);
}

body,
nav,
button,
p {
  font-family: var(--font-body);
  font-weight: 100;
}

.section--cream {
  background-color: #fffaee;
}

button {
  background: #2c2c2c;
  color: #e2e2e2; /* inherit text color */
  font-weight: 500;
  border: none;
  padding: 14px;
  margin: 0;
  font: inherit; /* inherit font styles from parent */
  line-height: inherit;
  cursor: pointer;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  height: 145px;
  padding: 0px 43px; /* top+bottom = 0px, left+right = 43px */
}

.header-heading {
  text-transform: uppercase;
}

.header-nav {
  display: inline-flex;
  list-style: none;
  font-weight: 500;
}

.header-nav li {
  padding: 0px 40px;
  font-size: 13px;
  text-transform: uppercase;
}

.header-actions {
  display: inline-flex;
  list-style: none;
}

.header-actions li {
  width: 48px;
  font-size: 25px;
}

.header-button {
  background-color: white;
  color: #2c2c2c;
}

.hero {
  padding-bottom: 68px;
}

.hero-nav,
.hero-socials {
  transform: rotate(-90deg);
  display: flex;
  gap: 1rem; /* space between items */
  padding: 100px 0px;
}

.hero-nav li,
.hero-socials li {
  list-style: none;
  text-transform: lowercase;
}

.top-cta-heading {
  text-transform: lowercase;
  font-size: 120px;
  line-height: 0.9; /* unitless, relative to font-size */
}

.top-cta {
  padding: 0px 42px;
  word-spacing: -0.1em;
}

.top-cta-text {
  padding: 38px 0px;
  font-size: 14px;
}

.features {
  padding: 55px;
  white-space: pre-line;
  justify-content: space-evenly;
}

.features-heading {
  font-weight: 500;
  font-size: 25px;
  padding-right: 180px;
}

.features-card-title-ratings {
  font-size: 50px;
  letter-spacing: -8px;
}

.features-card-title-sales {
  font-size: 50px;
  letter-spacing: 5px;
}

.features-card-description {
  white-space: pre-line;
}
